[project]
	description = socket.io implementation in Qt
[access "refs/*"]
	owner = group user/Kurt Pattyn (KurtPattyn)
[access "refs/for/refs/*"]
	read = group user/Kurt Pattyn (KurtPattyn)
	push = group user/Kurt Pattyn (KurtPattyn)
	label-Code-Review = -2..+2 group user/Kurt Pattyn (KurtPattyn)
	label-Verified = -1..+1 group user/Kurt Pattyn (KurtPattyn)
	rebase = group user/Kurt Pattyn (KurtPattyn)
	removeReviewer = group user/Kurt Pattyn (KurtPattyn)
	submit = group user/Kurt Pattyn (KurtPattyn)
[access "refs/heads/*"]
	read = group user/Kurt Pattyn (KurtPattyn)
	create = group user/Kurt Pattyn (KurtPattyn)
	push = +force group user/Kurt Pattyn (KurtPattyn)
	pushMerge = group user/Kurt Pattyn (KurtPattyn)
[access "refs/tags/*"]
	push = +force group user/Kurt Pattyn (KurtPattyn)
	pushTag = group user/Kurt Pattyn (KurtPattyn)
	pushSignedTag = group user/Kurt Pattyn (KurtPattyn)
